<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= error.code %>
    </title>
    <link rel="stylesheet" href="error.css">
</head>

<body>
    <h1><img src="/img/logo.png" alt="Logo GRB">
        <%= error.code %>
            <%= error.title %>
    </h1>
    <p>
        <%= error.description %>
    </p>
    <a href="<%= redirect.link %>">
        <%= redirect.name %>
    </a>
</body>

</html>